
body {
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 1);
    background-color: rgba(250, 250, 250, 1);
}

.container {
    max-width: 375px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid maroon;

    @media screen and (min-width: 768px){ 
    max-width: 736px;   
    padding: 0 16px;

    @media screen  and (min-width: 1200px){
    max-width: 1168px;
}}}

button {
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style-type:none;
}


/*=============================== Header ============================== */


/* --- Logo ---*/

.logo {
    color: currentColor;
    font-weight: 700;
    line-height: 1.28; /* 18px/14 */
    letter-spacing: -0.03em; /* -0.42px/14 */
}

.header-span {
    font-style: italic;
}

.nav-link {
    font-weight: 500;
    line-height: 1.14; /* 16px/14 */
}


/*=============================== Hero ============================== */

.hero {
    background-image: linear-gradient(
    to right,    
    rgba(17, 17, 17, 0.10),
    rgba(17, 17, 17, 0.10)),
    url(/img/hero/hero-bghero_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgba(17, 17, 17, 0.10);
    /* max-width: 1136px; */
}

/*===================== For mobile ===================== */

@media 
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .hero { 
        background-image: linear-gradient(to right,rgba(17, 17, 17, 0.10),
        rgba(17, 17, 17, 0.10)), url(/img/hero/hero-bghero_mob@2x.jpg);
}}

/*===================== For tablet======================= */

@media screen and (min-width: 768px) {
    .hero {background-image: linear-gradient(to right,rgba(17, 17, 17, 0.10),
        rgba(17, 17, 17, 0.10)), url(/img/hero/hero-bghero_tab@1.jpg);
}}

@media 
screen and (min-resolution: 192dpi) and (min-width: 786px),
screen and (min-resolution: 2dppx) and (min-width: 786px),
screen and (min-device-pixel-ratio: 2) and (min-width: 786px) {
    .hero { 
        background-image: linear-gradient(to right,rgba(17, 17, 17, 0.10),
        rgba(17, 17, 17, 0.10)), url(/img/hero/hero-bghero_tab@2x.jpg);
}}

/*===================== For desktop ===================== */

@media screen and (min-width: 1200px) {
    .hero {background-image: linear-gradient(to right,rgba(17, 17, 17, 0.10),
        rgba(17, 17, 17, 0.10)), url(/img/hero/hero-bghero_desk@1x.jpg);
}}

@media 
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) {
    .hero { 
        background-image: linear-gradient(to right,rgba(17, 17, 17, 0.10),
        rgba(17, 17, 17, 0.10)), url(/img/hero/hero-bghero_desk@2x.jpg);
}}

/*======================================================= */

.hero-title {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 24px/20 */
    letter-spacing: -0.03em; /* -0.6px/20 */
}

/* --- Buttons list (hero) --- */


.button {
    outline: transparent;
    border: none;
    border-radius: 100px;

    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    font-weight: 600;
}

.primary {
    background-color: rgba(253, 146, 34, 1);
}

.secondary {
    border: 1px solid currentColor;
}

.scroll {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16; /* 14px/12 */
    letter-spacing: 0.03em; /* -0.36px/12 */
}


/*=============================== Benefits ============================== */


.section-benefits {
    background: #1E1823;
    color: rgba(255, 255, 255, 0.70);
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.20; /* 24px/20 */
    letter-spacing: 0.03em; /* -0.6px/20 */
    text-align: center;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-topic {
    font-size: 18px;
    font-weight: 600;
}

.color {
    color: rgba(255, 255, 255, 1);
}


/*=============================== Ingredients ============================== */


.accent {
    color: rgba(253, 146, 34, 1);
}

.item-list {
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
    
    background-color: rgba(255, 255, 255, 1);
    color: rgba(17, 17, 17, 1);
}

.item-list.ingredients:nth-child(odd) {
    border: transparent;
    background: #FD9222;
    color: rgba(255, 255, 255, 1);
}

.item-list.ingredients:nth-child(even) {
    border: 1px solid #FD9222;
}

.item-list.ingredients:nth-child(4n+3) {
    background: #1E1823;
}

/*=============================== How it's made ============================== */

.section-topic.line {
    line-height: 1.33; /* 24px/18 */    
}

.section-list.made {
    line-height: 1.28; /* 18px/14 */
}

/*=============================== Our products ============================== */


.section-topic.products {
    line-height: 1.33; /* 24px/18 */
    text-transform: uppercase;
}

.section-text.products {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    line-height: 1.16; /* 14px/12 */
}

.button.products {

    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    color: rgba(17, 17, 17, 1);
}


/*=============================== Top sellers ============================== */


/*=============================== Chocolate is loved ============================== */


.item-list.chocolate {
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}

.section-topic.chocolate {
    line-height: 1.33; /* 24px/18 */
    text-align: center;
}

.section-text.chocolate {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    line-height: 1.28; /* 18px/14 */
}

.button.chocolate {
    color: rgba(17, 17, 17, 1);
    border: 1px solid rgba(253, 146, 34, 1);
    font-size: 18px;
}


/*=============================== Chocolate is loved ============================== */

footer {
    background: rgba(30, 24, 35, 1);
}

.footer-textbig {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16; /* 28px/24 */
}

.address {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 1.28; /* 18px/14 */
}


.address-link {
    font-weight: 400;
    line-height: 1.28; /* 18px/14 */
}

.footer-textsmall {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 1.28; /* 18px/14 */
}

footer .nav-link {
    color: rgba(255, 255, 255, 1);
}


/*=============================== Chocolate is loved ============================== */


.sub-form {}

.sub-input {
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
}

.sub-input::placeholder {
    color: rgba(255, 255, 255, 0.30);
}
