
body {
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

button {
    font-family: inherit;
    font-style: inherit;
}

a {
    text-decoration: none;
}


/*=============================== Header ============================== */

.header {}

.hedaer-nav {}

/* --- Logo ---*/
.logo {
    color: rgba(17, 17, 17, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11; /* 20px/18 */
    letter-spacing: -0.03em; /* -0.54px/18 */
}

.header-span {
    font-style: italic;
}

.header-svg {}

.header-list {}

.header-item {}

.link {
    color: rgba(17, 17, 17, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14; /* 16px/14 */
    letter-spacing: -0.02em; /* -0.28px/14 */
}

.social-list {}

.social-item {}


/*=============================== Hero ============================== */


.hero {}

.hero-title {
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21; /* 34px/28 */
    letter-spacing: -0.03em; /* -0.84px/28 */
}

/* --- Buttons list (hero) --- */

.btn-list {}

.btn-item {}

.button {
    outline: transparent;
    border-radius: 100px;

    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    font-weight: 600;
    line-height: normal;
}

.primary {
    background-color: rgba(253, 146, 34, 1);
}

.secondary {
    border: 1px solid currentColor;
}

.scroll {
    font-weight: 500;
    line-height: 1,28; /* 18px/14 */
    letter-spacing: 0.03em; /* -0.42px/14 */
}